.row {
  display: flex;
  gap: 1rem;
}
.ip {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.dropDown {
  padding: 0.5rem;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.frm {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  max-width: fit-content;
}
