/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.PreForm {
  padding: 1rem;
  width: fit-content;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.PreDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
